<mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <mat-form-field>
        <mat-label>AdminApiKey</mat-label>
        <input matInput type="text" [(ngModel)]="adminApiKey">
    </mat-form-field>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <mat-form-field>
        <mat-label>Server IP</mat-label>
        <input matInput type="text" [(ngModel)]="serverIp">
    </mat-form-field>

</mat-card>


<mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <mat-form-field>
        <mat-label>User</mat-label>
        <input matInput type="text" [(ngModel)]="user">
    </mat-form-field>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <button mat-raised-button (click)="actionApply()">Apply</button>
    <button mat-raised-button (click)="actionClose()">Close</button>
</mat-card>

<mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <div>
    Status: {{ connectionTestResult }} <br>
    </div>
</mat-card>