<mat-card >

<mat-tab-group [(selectedIndex)]="selectedTabIndex" mat-align-tabs="start" color="accent" backgroundColor="primary">
    <mat-tab label="Execute">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
            <button color="primary" mat-raised-button (click)="sendPacketExec()">Enter</button>

            <ng-container *ngIf="selectExecType == 'line'">
                <mat-form-field fxFlex="80" fxFill appearance="outline">
                    <mat-label>commandline</mat-label>
                    <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="commandline">
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="selectExecType == 'array'">
                <mat-form-field fxFlex>
                    <mat-label>Executable</mat-label>
                    <input matInput type="text" [(ngModel)]="executable">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Parameter 1</mat-label>
                    <input matInput type="text" [(ngModel)]="param1">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Parameter 2</mat-label>
                    <input matInput type="text" [(ngModel)]="param2">
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>Parameter 3</mat-label>
                    <input matInput type="text" [(ngModel)]="param3">
                </mat-form-field>
            </ng-container>

            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <mat-select [(value)]="selectExecType">
                    <mat-option value="line">
                        Line
                    </mat-option>
                    <mat-option value="array">
                        Array
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-container>
    </mat-tab>

    <mat-tab label="Shell">
        <br>
        <mat-container fxLayout="column"  fxLayoutGap="15px">
            <md-input-container fxFlex="100" class="full-width" >
                <!-- we check interactiveStdout on [scrollTop] to avoid a race condition, giving ugly warning. 
                    https://stackoverflow.com/questions/35232731/angular-2-scroll-to-bottom-chat-style -->
                <textarea 
                    #textarea 
                    [scrollTop]="interactiveStdout == '' ? 0 : textarea.scrollHeight" 
                    rows="30"
                    name="Output" 
                    [(ngModel)]="interactiveStdout" 
                    matInput
                    class="shell"
                >
                </textarea>
            </md-input-container>

            <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
                    <mat-form-field fxFlex="80" fxFill>
                        <mat-label>commandline</mat-label>
                        <input matInput type="text" (keyup.enter)="sendPacketInteractiveCmdIssue()" [(ngModel)]="commandlineInteractive">
                    </mat-form-field>

                    <md-input-container fxFlex> 
                        <button mat-raised-button (click)="sendPacketInteractiveCmdOpen(false)">Open</button>
                        &nbsp;
                        <button mat-raised-button (click)="sendPacketInteractiveCmdOpen(true)">ForceOpen</button>
                </md-input-container>

            </mat-container>

            <br>
        </mat-container>
    </mat-tab>
    
    <mat-tab label="Upload">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="sendPacketUpload()">Send</button>

            <mat-form-field fxFlex="70">
                <mat-label>Remote file path</mat-label>
                <input matInput type="text" [(ngModel)]="uploadSource">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Upload URL</mat-label>
                <input matInput type="text" [(ngModel)]="uploadUrlBase">
            </mat-form-field>
        </mat-container>
    </mat-tab>

    <mat-tab label="Download">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="sendPacketDownload()">Send</button>

            <mat-form-field fxFlex="60">
                <mat-label>downloadDestination</mat-label>
                <input matInput type="text" [(ngModel)]="downloadDestination">
            </mat-form-field>
            {{downloadUrlBase}}
            <mat-form-field>
                <mat-label>downloadUrl</mat-label>
                <input matInput type="text" [(ngModel)]="downloadUrlFile">
            </mat-form-field>
        </mat-container>

    </mat-tab>

    <!--
    <mat-tab label="Test">
        <button mat-raised-button (click)="sendPacketTest()">TestPacket</button>
        <br><br>
    </mat-tab>
    -->
</mat-tab-group>
 
</mat-card>

<!-- <mat-card *ngIf="selectedTabIndex != 1"  > -->
<mat-card>
    <app-packet-table [computerId]="computerId"></app-packet-table>
</mat-card>
