<mat-card >

<mat-tab-group [(selectedIndex)]="selectedTabIndex" mat-align-tabs="start" color="accent" backgroundColor="primary">
    <mat-tab label="Execute">
        <br>
        <app-cmd-exec [computerId]="computerId"  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em"></app-cmd-exec>
    </mat-tab>

    <mat-tab label="Shell">
        <br>
        <app-cmd-shell [computerId]="computerId"  fxLayout="column"  fxLayoutGap="15px"></app-cmd-shell>
    </mat-tab>
    
    <mat-tab label="Upload">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="sendPacketUpload()">Upload</button>

            <mat-form-field fxFlex="70">
                <mat-label>Client file path</mat-label>
                <input matInput type="text" [(ngModel)]="uploadSource">
            </mat-form-field>
            &RightArrow; &nbsp; &nbsp;
            <mat-form-field fxFlex>
                <mat-label>Upload URL</mat-label>
                <input matInput type="text" [disabled]="true" [(ngModel)]="uploadUrlBase">
            </mat-form-field>
        </mat-container>
    </mat-tab>

    <mat-tab label="Download">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="sendPacketDownload()">Download</button>

            <mat-form-field fxFlex>
                <mat-label>Static File</mat-label>

                <mat-select [(ngModel)]="downloadDestinationSelection" name="file">
                    <mat-option *ngFor="let file of staticFiles" [value]="file.name">
                      {{file.name}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            &RightArrow; &nbsp; &nbsp;
            <mat-form-field fxFlex="65">
                <mat-label>Client file path</mat-label>
                <input matInput type="text" [(ngModel)]="downloadDestination">
            </mat-form-field>
            
        </mat-container>

    </mat-tab>

    <mat-tab label="Browse">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="sendPacketDir()">Dir</button>
            <input matInput type="text" [(ngModel)]="browse">

        </mat-container>

        <ul>
            <li *ngFor="let dirEntry of dirContent">{{ dirEntry.name }}</li>
        </ul>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">

        </mat-container>
        <br>
    </mat-tab>

    <mat-tab label="Other">
        <br>
        <mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="sendPacketShutdown()">Shutdown</button> &nbsp; Exit current client/downstreamclient
        </mat-container>

        <br>
    </mat-tab>

    <!--
    <mat-tab label="Test">
        <button mat-raised-button (click)="sendPacketTest()">TestPacket</button>
        <br><br>
    </mat-tab>
    -->
</mat-tab-group>
 
</mat-card>

<!-- <mat-card *ngIf="selectedTabIndex != 1"  > -->
<mat-card>
    <app-packet-table [computerId]="computerId"></app-packet-table>
</mat-card>
