<md-input-container fxFlex="100" class="full-width" >
    <!-- we check interactiveStdout on [scrollTop] to avoid a race condition, giving ugly warning. 
        https://stackoverflow.com/questions/35232731/angular-2-scroll-to-bottom-chat-style -->
    <textarea 
        #textarea 
        [scrollTop]="interactiveStdout == '' ? 0 : textarea.scrollHeight" 
        rows="30"
        name="Output" 
        [(ngModel)]="interactiveStdout" 
        matInput
        class="shell"
    >
    </textarea>
</md-input-container>

<mat-container fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    <mat-form-field fxFlex="74" fxFill>
        <mat-label>commandline</mat-label>
        <input matInput type="text" (keyup.enter)="sendPacketInteractiveCmdIssue()" [(ngModel)]="commandlineInteractive">
    </mat-form-field>

    <md-input-container fxFlex fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap="1em"> 
        
        <mat-form-field fxFlex appearance="outline">
            <mat-select [(ngModel)]="selectedShell" name="selectedShell">
                <mat-option *ngFor="let shellDesc of shellDescriptions" [value]="shellDesc">
                {{shellDesc.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button (click)="sendPacketInteractiveCmdOpen(true)">Start</button>
        &nbsp;
        <!-- <button mat-raised-button (click)="sendPacketInteractiveCmdOpen(true)">ReOpen</button> 
        &nbsp;-->
        <button mat-raised-button (click)="sendPacketCmdClose()">Kill</button>


    </md-input-container>
</mat-container>

<br>