<table style="width: 100%" mat-table [dataSource]="dataSource"  matSort class="demo-table">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Filename </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="downloadUpload(element.name)">
            <mat-icon>file_download</mat-icon>
          </button>

        {{element.name}}
      </td>
    </ng-container>
  
    <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element">{{element.size}}</td>
    </ng-container>
  
    <ng-container matColumnDef="modified">
        <th mat-header-cell *matHeaderCellDef> Modified </th>
        <td mat-cell *matCellDef="let element">{{element.modified | date:'HH:mm:ss dd.LL.YYYY' }}</td>
      </ng-container>

      <ng-container matColumnDef="isDir">
        <th mat-header-cell *matHeaderCellDef> isDir </th>
        <td mat-cell *matCellDef="let element">{{element.isDir}}</td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
</table>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
  &nbsp;&nbsp;&nbsp;&nbsp;
  <mat-form-field fxFlex="30" fxFlexFill>
      <input matInput type="text" (change)="applyFilter($event)" placeholder="Search">
  </mat-form-field>

  <div fxFlex="70">
      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
