<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <td mat-cell *matCellDef="let element">

            <button mat-icon-button (click)="showModalCommandCreate(element.ComputerId)">
                <mat-icon>computer</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="computer_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ComputerID </th>
        <td mat-cell *matCellDef="let element"> {{element.ComputerId}} </td>
    </ng-container>

    <ng-container matColumnDef="last_seen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Seen </th>
        <td mat-cell *matCellDef="let element"> {{element.LastSeen}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
