<mat-toolbar color="primary">  
    <img width="48px" height="48px" class="img-fluid" src="/assets/favicon.png"> &nbsp;&nbsp;
    <h1> AntniumUI </h1>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-button [routerLinkActive]="['active']" routerLink="/home">Home</button>  
    <button mat-button [routerLinkActive]="['active']" routerLink="/clients">Clients</button>
    <button mat-button [routerLinkActive]="['active']" routerLink="/uploads">Uploads</button>
    <button mat-button [routerLinkActive]="['active']" routerLink="/static">Static</button>
    <button mat-button [routerLinkActive]="['active']" routerLink="/campaign">Campaign</button>
    <button mat-button [routerLinkActive]="['active']" routerLink="/docs">Docs</button>

    <span class="example-spacer"></span>
    <button mat-button (click)="openConfigModal()">Config</button>
</mat-toolbar>

<router-outlet></router-outlet>
