<mat-container fxLayout="column" fxFill fxLayoutAlign="start center" fxLayoutGap="1em">

    <mat-container fxLayout="row" fxFill fxLayoutAlign="start center" fxLayoutGap="1em">
        <ng-container fxFlex>
            <button color="primary" mat-raised-button (click)="sendPacketExec()">Enter</button>
        </ng-container>

        <mat-form-field appearance="fill" fxFlex=15>
            <mat-label>ShellType</mat-label>
            <mat-select [(value)]="selectExecType">
                <mat-option value="cmd">
                    cmd.exe /S /C [] 
                </mat-option>
                <mat-option value="powershell">
                    powershell.exe -ExecutionPolicy Bypass -C []
                </mat-option>
                <mat-option value="direct">
                    direct
                </mat-option>
                <mat-option value="remote">
                    remote
                </mat-option>
            </mat-select>
        </mat-form-field>

        <ng-container *ngIf="selectExecType == 'cmd' || selectExecType == 'powershell'">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>commandline</mat-label>
                <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="commandline">
            </mat-form-field>
        </ng-container>


        <ng-container *ngIf="selectExecType == 'direct'">
            <mat-form-field fxFlex appearance="outline">
                <mat-label>executable</mat-label>
                <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="executable">
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
                <mat-label>argline</mat-label>
                <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="argline">
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="selectExecType == 'direct'">
            <mat-form-field appearance="fill" fxFlex=15>
                <mat-label>SpawnType</mat-label>
                <mat-select [(value)]="selectSpawnType">
                    <mat-option value="standard">
                        Direct 
                    </mat-option>
                    <mat-option value="hollow">
                        Process hollowing
                    </mat-option>
                    <mat-option value="copyFirst">
                        Copy First
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="selectExecType == 'remote'">
            <mat-form-field appearance="outline">
                <mat-label>Remote File</mat-label>
                <mat-select [(value)]="remote_file">
                  <mat-option *ngFor="let file of remote_files" [value]="file.name">
                    {{file.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
                <mat-label>argline</mat-label>
                <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="remote_argline">
            </mat-form-field>
        </ng-container>
    </mat-container>

    <mat-container fxLayout="row" fxFill fxLayoutAlign="start center" fxLayoutGap="1em">

        <ng-container *ngIf="(selectExecType == 'direct' && selectSpawnType == 'hollow')">
            <mat-form-field fxFlex class="example-full-width" appearance="fill">
                <mat-label>Destination</mat-label>
                <input 
                    type="text" 
                    matInput [formControl]="destinationHollowFormControl" 
                    [matAutocomplete]="auto"
                    [(ngModel)]="destinationHollow"
                    >

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of destinationHollowFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="(selectExecType == 'direct' && selectSpawnType == 'copyFirst')">
            <mat-form-field fxFlex class="example-full-width" appearance="fill">
                <mat-label>Destination</mat-label>
                <input 
                    type="text" 
                    matInput [formControl]="destinationCopyFirstFormControl" 
                    [matAutocomplete]="auto"
                    [(ngModel)]="destinationCopyFirst"
                    >

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of destinationCopyFirstFilteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="selectExecType == 'remote'">
            <mat-form-field fxFlex appearance="fill">
                <mat-label>injectInto</mat-label>
                <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="remote_injectInto">
            </mat-form-field>
        </ng-container>
    </mat-container>

</mat-container>
