<button color="primary" mat-raised-button (click)="sendPacketExec()">Enter</button>

<ng-container *ngIf="selectExecType != 'raw'">
    <mat-form-field fxFlex="80" fxFill appearance="outline">
        <mat-label>commandline</mat-label>
        <input matInput type="text" (keyup.enter)="sendPacketExec()" [(ngModel)]="commandline">
    </mat-form-field>
</ng-container>

<ng-container *ngIf="selectExecType == 'raw'">
    <mat-form-field fxFlex>
        <mat-label>Executable</mat-label>
        <input matInput type="text" [(ngModel)]="executable">
    </mat-form-field>
    <mat-form-field fxFlex>
        <mat-label>Parameter 1</mat-label>
        <input matInput type="text" [(ngModel)]="param1">
    </mat-form-field>
    <mat-form-field fxFlex>
        <mat-label>Parameter 2</mat-label>
        <input matInput type="text" [(ngModel)]="param2">
    </mat-form-field>
    <mat-form-field fxFlex>
        <mat-label>Parameter 3</mat-label>
        <input matInput type="text" [(ngModel)]="param3">
    </mat-form-field>
</ng-container>

<mat-form-field appearance="fill">
    <mat-label>ShellType</mat-label>
    <mat-select [(value)]="selectExecType">
        <mat-option value="cmd">
            cmd.exe /S /C [] 
        </mat-option>
        <mat-option value="powershell">
            powershell.exe -ExecutionPolicy Bypass -C []
        </mat-option>
        <mat-option value="bash">
            bash -c []
        </mat-option>
        <mat-option value="zsh">
            zsh
        </mat-option>
        <mat-option value="raw">
            raw
        </mat-option>
    </mat-select>
</mat-form-field>