
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Packets </th>
        <td mat-cell *matCellDef="let element">

            <!--
            <button mat-icon-button (click)="showModalPacketCreate(element.Packet.computerid)">
                <mat-icon>slideshow</mat-icon>
            </button>
            -->
            <button mat-icon-button [routerLink]="[ '/packetcreate/', element.Packet.computerid ]">
                <mat-icon>slideshow</mat-icon>
            </button>
        </td>
    </ng-container>

    <ng-container matColumnDef="TimeRecorded">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created at </th>
        <td mat-cell *matCellDef="let element"> 
            <span  class="nowrap">{{element.TimeRecorded | date:'HH:mm:ss dd.LL.YYYY' }} </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="ClientIp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.Packet.computerid}} <br>
            {{element.ClientIp}}
        </td>
    </ng-container>

    <ng-container matColumnDef="packetType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Command </th>
        <td mat-cell *matCellDef="let element"> 
            {{element.Packet.packetType }}
            <ng-container *ngIf="element.Packet.downstreamId != 'client'">
                @{{element.Packet.downstreamId}}
            </ng-container>
         </td>
    </ng-container>


    <ng-container matColumnDef="arguments">
        <th mat-header-cell *matHeaderCellDef> Arguments </th>
        <td mat-cell *matCellDef="let element"> 
            <container-element [ngSwitch]="element.Packet.packetType">
                
            <div *ngSwitchCase="'exec'" class="nowrap">
                {{element.Packet.arguments["commandline"]}}
                {{element.Packet.arguments["executable"]}} 
                {{element.Packet.arguments["param0"]}} 
                {{element.Packet.arguments["param1"]}}
                {{element.Packet.arguments["param2"]}}
                {{element.Packet.arguments["param3"]}}
            </div>

            <div *ngSwitchCase="'fileupload'">
                {{element.Packet.arguments["source"]}} 
                <button mat-icon-button (click)="openUploadFile(element.Packet)">
                    <mat-icon>file_download</mat-icon>
                </button>
            </div>

            <div *ngSwitchCase="'filedownload'">
                Source: {{element.Packet.arguments["remoteurl"] | strip}} <br>
                Destination: {{element.Packet.arguments["destination"]}}
            </div>

            <div *ngSwitchCase="'iOpen'">
                {{element.Packet.arguments | json}}
            </div>

            <div *ngSwitchCase="'iIssue'">
                {{element.Packet.arguments["commandline"]}}
            </div>

            <div *ngSwitchCase="'downstreams'">
            </div>

            <div *ngSwitchDefault>
                {{element.Packet.arguments | json }}
            </div>
         </container-element>

        </td>
    </ng-container>

    <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef> Response </th>
        <td mat-cell *matCellDef="let element"> 
            <container-element [ngSwitch]="element.Packet.packetType">
                <div *ngSwitchCase="'exec'">
                    {{element.Packet.response["error"]}}
                    <pre>{{element.Packet.response["stdout"]}}</pre>
                    <pre>{{element.Packet.response["stderr"]}}</pre>
                    Pid: {{element.Packet.response["pid"]}} / ExitCode: {{element.Packet.response["exitCode"]}}
                    
                </div>
            
                <div *ngSwitchCase="'fileupload'">
                    {{element.Packet.response["response"]}}
                    {{element.Packet.response["error"]}}
                </div>

                <div *ngSwitchCase="'filedownload'">
                    {{element.Packet.response["response"]}}
                    {{element.Packet.response["error"]}}
                </div>

                <div *ngSwitchCase="'iOpen'">
                    {{element.Packet.response["error"]}}
                    <pre>{{element.Packet.response["stdout"]}}</pre>
                    <pre>{{element.Packet.response["stderr"]}}</pre>
                    
                </div>

                <div *ngSwitchCase="'iIssue'">
                    {{element.Packet.response["error"]}}
                    <pre>{{element.Packet.response["stdout"]}}</pre>
                    <pre>{{element.Packet.response["stderr"]}}</pre>
                </div>

                <div *ngSwitchCase="'downstreams'">
                    <label *ngFor="let element of argsToDict(element.Packet.response)"> 
                        {{ element.name }}: {{element.info}} <br>
                    </label>
                </div>

                <div *ngSwitchCase="'dir'">
                    (Click Me)
                </div>

                <div *ngSwitchDefault>
                    {{element.Packet.response | json }}
                </div>
            </container-element>
        </td>
    </ng-container>

    <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
        <td mat-cell *matCellDef="let element"> 
            <container-element [ngSwitch]="element.State">
                <div *ngSwitchCase="'0'">
                    &rarr;
                </div>
                <div *ngSwitchCase="'1'">
                    !
                </div>
                <div *ngSwitchCase="'2'">
                    &larr;
                </div>
                <div *ngSwitchCase="'3'">
                    &larr;c
                </div>
            </container-element>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em">
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div fxFlex>
        <mat-form-field *ngIf="dataSource.data.length > 6" fxFlexFill> 
            <input matInput type="text" (change)="applyFilter($event)" placeholder="Search table">
        </mat-form-field>
    </div>

    <div fxFlex="70"> 
        <div fxShow="{{dataSource.data.length > 3}}">
            <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
