<mat-card>
Host: {{client.ComputerId}} | 
IP:  {{client.LastIp}} |
LastSeen: {{client.LastSeen | date:'short'}}
</mat-card>
<br>

<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Execute">
        <mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="addCommandExec()">Send</button>

            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Executable</mat-label>
                <input matInput type="text" [(ngModel)]="executable">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Parameter 1</mat-label>
                <input matInput type="text" [(ngModel)]="param1">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Parameter 2</mat-label>
                <input matInput type="text" [(ngModel)]="param2">
            </mat-form-field>
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Parameter 3</mat-label>
                <input matInput type="text" [(ngModel)]="param3">
            </mat-form-field>

        </mat-card>

    </mat-tab>

    <mat-tab label="FileUpload">
        <mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="addCommandUpload()">Send</button>

            <mat-form-field fxFlex="70">
                <mat-label>Remote file path</mat-label>
                <input matInput type="text" [(ngModel)]="uploadSource">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Upload URL</mat-label>
                <input matInput type="text" [(ngModel)]="uploadUrl">
            </mat-form-field>
        </mat-card>
    </mat-tab>

    <mat-tab label="FileDownload">
        <mat-card fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <button mat-raised-button (click)="addCommandDownload()">Send</button>

            <mat-form-field fxFlex="70">
                <mat-label>downloadDestination</mat-label>
                <input matInput type="text" [(ngModel)]="downloadDestination">
            </mat-form-field>
            <mat-form-field>
                <mat-label>downloadUrl</mat-label>
                <input matInput type="text" [(ngModel)]="downloadUrl">
            </mat-form-field>
        </mat-card>

    </mat-tab>

    <mat-tab label="Test">
        <button mat-raised-button (click)="addCommandTest()">TestCommand</button>
        <br><br>
    </mat-tab>
</mat-tab-group>
  
  
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="command">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> command </th>
        <td mat-cell *matCellDef="let element"> {{element.Command.command }} </td>
    </ng-container>


    <ng-container matColumnDef="arguments">
        <th mat-header-cell *matHeaderCellDef> Arguments </th>
        <td mat-cell *matCellDef="let element"> 
            <container-element [ngSwitch]="element.Command.command">
                
            <div *ngSwitchCase="'exec'">
                {{element.Command.arguments["executable"]}} 
                {{element.Command.arguments["param0"]}} 
                {{element.Command.arguments["param1"]}}
                {{element.Command.arguments["param2"]}}
                {{element.Command.arguments["param3"]}}
            </div>

            <div *ngSwitchCase="'fileupload'">
                {{element.Command.arguments["source"]}} <br>
                <a [routerLink]="" (click)="openFileTab(element.Command.arguments['remoteurl'])">Download as {{element.Command.arguments["remoteurl"] | strip}}</a>
            </div>

            <div *ngSwitchCase="'filedownload'">
                Source: {{element.Command.arguments["remoteurl"] | strip}} <br>
                Destination: {{element.Command.arguments["destination"]}}
            </div>

            <div *ngSwitchDefault>
                {{element.Command.arguments | json }}
            </div>
         </container-element>

        </td>
    </ng-container>

    <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef> Response </th>
        <td mat-cell *matCellDef="let element"> 
            <container-element [ngSwitch]="element.Command.command">
                <div *ngSwitchCase="'exec'">
                    <pre>{{element.Command.response["error"]}}{{element.Command.response["stdout"]}}</pre>
                </div>
            
                <div *ngSwitchCase="'fileupload'">
                    {{element.Command.response["response"]}}                 
                </div>

                <div *ngSwitchCase="'filedownload'">
                    {{element.Command.response["response"]}}                 
                </div>

                <div *ngSwitchDefault>
                    {{element.Command.response | json }}
                </div>
            </container-element>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
