/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #fafafa;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* MatCards: Some spaced between them */
.mat-card {
    margin: 0.8em;
    padding: 0.8em !important;
}

/* PacketCreate: Make tabs tight */
.matsmall {
    padding: 0px !important;
}
/* PacketCreate: provide some space the elements */
.matbig {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
  
.nowrap {
    white-space: nowrap;
}
  

/* https://github.com/angular/components/issues/5903 */
.mat-tab-label.mat-tab-label-active {
    opacity: 1;
}

h3 {
    margin-bottom: 0em;
}