<button mat-raised-button (click)="refreshCommands()">Refresh Commands</button>
<button mat-raised-button (click)="refreshClients()">Refresh Clients</button>

<div class="bounds">
	<div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxFlexFill>
		<div fxFlex="70" class="sec1">
            <app-srvcmd-list 
                [srvCmds]="srvCmds">
            </app-srvcmd-list>
		</div>
		<div fxFlex="30" class="sec2">
            <app-client-list 
                [clients]="clients">
            </app-client-list>
		</div>
	</div>
</div>
