<mat-card  class="moarspace">
    <h3>Client:</h3>
    <ul>
        <li>{{client.ComputerId }}</li>
        <li>{{client.LastIp}}</li>
        <li>queried {{getClientRelativeLastSeen()}} ago</li>
    </ul>
</mat-card>
<br>

<mat-card  class="moarspace">
    <h3>Downstreams:</h3>
    <ul>
        <li  *ngFor="let downstreamInfo of downstreamList" > {{downstreamInfo.Name}} : {{downstreamInfo.Info}}</li>
    </ul>
</mat-card>
<br>

<mat-card  class="moarspace">
    <h3>Static Files:</h3>
    <ul>
    </ul>
</mat-card>
<br>

<mat-card  class="moarspace">
    <h3>Uploaded Files:</h3>
    <ul>
    </ul>
</mat-card>
