<mat-card *ngIf="client">
    <mat-card-title>Client</mat-card-title>
    <ul>
        <li>{{client.ClientId }}</li>
        <li>{{client.LastIp}}</li>
        <li>queried {{getClientRelativeLastSeen()}} ago</li>
        <li>
            <span *ngIf="client.isAdmin == 'true'">
                isAdmin
            </span>
            <span *ngIf="client.isElevated == 'true'">
                isElevated
            </span>
            <span *ngIf="client.isElevated != 'true' && client.isAdmin != 'true' ">
                Non-admin
            </span>
        </li>
    </ul>
</mat-card>

<mat-card *ngIf="downstreamList.length > 1">
    <mat-card-title>Downstreams</mat-card-title>
    <table style="width: 100%" mat-table [dataSource]="downstreamList" class="demo-table">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
              <label [class.demo-row-is-clicked]="clickedRow == element">{{element.Name}}</label>
            </td>
        </ng-container>
      
        <ng-container matColumnDef="Info">
          <th mat-header-cell *matHeaderCellDef>Info</th>
          <td mat-cell *matCellDef="let element">{{element.Info}}</td>
        </ng-container>
      
        <tr
            mat-row
            (click)="rowClicked(row)"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </table>
</mat-card>

<mat-card *ngIf="uploadList.length > 0">
    <mat-card-title>Uploaded files</mat-card-title>
    <div *ngFor="let dirEntry of uploadList">
        <button mat-icon-button (click)="downloadUpload(dirEntry.name)">
            <mat-icon>file_download</mat-icon>
        </button>
        {{ dirEntry.name }}
    </div>
</mat-card>
