<br>
<mat-card  class="moarspace">
    <h3>Client:</h3>
    <ul>
        <li>{{client.ComputerId }}</li>
        <li>{{client.LastIp}}</li>
        <li>queried {{getClientRelativeLastSeen()}} ago</li>
    </ul>
</mat-card>
<br>

<mat-card  class="moarspace">
    <table fxFlex mat-table [dataSource]="downstreamList" class="demo-table">
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{element.Name}}</td>
        </ng-container>
      
        <ng-container matColumnDef="Info">
          <th mat-header-cell *matHeaderCellDef>Info</th>
          <td mat-cell *matCellDef="let element">{{element.Info}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            (click)="rowClicked(row)"
            [class.demo-row-is-clicked]="clickedRow == row"
            *matRowDef="let row; columns: displayedColumns;"
        ></tr>
    </table>
</mat-card>
<br>

<mat-card  class="moarspace">
    <h3>Static Files:</h3>
    <ul>
    </ul>
</mat-card>
<br>

<mat-card  class="moarspace">
    <h3>Uploaded Files:</h3>
    <ul>
    </ul>
</mat-card>
